.navbar {
  background-color: #333;
  padding-left: 25px;
}

button {
  padding: 20px 10px;
  background-color: transparent;
  border: none;
  color: #fff;
}
button:hover {
  background-color: #272727;
  
}