<div class="profile">
  <div>
    stats:
    <br>
    <br>
  </div>
  <div *ngFor="let stat of stats">
    <div>
      data: {{ stat.date }}
    </div>
    <div>
      goals: {{ stat.goals }}
    </div>
    <hr>
  </div>
</div>

